
body{
    list-style-position: inside;
    text-align: center;
    background-image: radial-gradient(#ff8a00, #e52e71);
    background-image: radial-gradient(circle at center, #ff8a00, red , #e52e71);
}
