

h1{
    text-align: center;
    font-family: monospace;
    color: goldenrod;
    font-size: 60px;


}

body{
    background-color: lightblue;
   
    
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .art{
    position: fixed;
    display: block;
    left:400px;
    bottom: 100px;
  }
  .button1{
    position: fixed;
    display: block;
    left: 1200px;
    bottom:650px;
  }