

h1{
    text-align: center;
    font-family: monospace;
    color: goldenrod;
    font-size: 60px;


}

body{
    background-color: lightblue;
   
    
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .art{
    position: fixed;
    display: block;
    left:400px;
    bottom: 100px;
  }
  .button1{
    position: fixed;
    display: block;
    left: 850px;
    bottom:200px;
  }
  .button2{
    position: fixed;
    display: block;
    left: 720px;
    bottom: 110px;
  }

  .button3{
    position: fixed;
    display: block;
    left: 920px;
    bottom: 104px;
  }

  .button4{
    position: fixed;
    display: block;
    left: 830px;
    bottom: 40px;
  }